<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Bag - Nail Store</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="../static/css/checkout.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <img
        src="../static/images/checkout-bg.png"
        alt="Background"
        class="background-img"
      />
      <header>
        <div>&larr; <span style="opacity: 0.5">Shopping Bag</span></div>
      <div class="icons">
        <a href="{{ url_for('wishlist') }}"><i class="icon">❤️</i></a>
        <a href="{{ url_for('custom') }}"><i class="icon">👤</i></a>
        <a href="{{ url_for('checkout') }}"><i class="icon">🛒</i></a>
        <a href="{{ url_for('home') }}"><i class="icon">🏠</i></a>
      </div>
      </header>

      <div class="title">
        Ready to Press, Just Checkout! <span class="sparkles">✨✨</span>
      </div>
      <div class="cart-section">
        {% for product in products %}

        <div class="cart-item">
          <img src="{{ product['image'] }}" alt="Set 1" />
          <div class="cart-details">
            <h4>
              {{ product['shape'] }} {{ product['design'] }} {{
              product['colour'] }} ♥
            </h4>
            <p></p>
            <p>
              {{ product['price'] }}
              <select>
                <option>Qty: 1</option>
              </select>
            </p>
            <p>✔ Delivery in 7 days</p>
          </div>
          <div class="remove">
            <a href="{{ url_for('remove_from_cart', pid=product['_id']) }}"
              >×</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
          <div class="coupon-section">
        <h3>Buy Now</h3>
        <div style="width: 18%;"><a class="buy-now" href="{{ url_for('register') }}"><div class="best-coupon">Buy Now</div></a></div>
      </div>
    </div>

  </body>
</html>
