<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artistic Nails</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="drip"></div>
      <div class="branding">
        <img src="../static/images/logo.png" alt="Logo" class="logo" />
      </div>
      <div class="icons">
        <a href="{{ url_for('custom') }}"
          ><img
            src="{{ url_for('static', filename='images/icons/nail-white.png') }}"
            class="icon"
            alt="Custom"
        /></a>
        <a href="{{ url_for('login') }}"
          ><img
            src="{{ url_for('static', filename='images/icons/user-white.png') }}"
            class="icon"
            alt="Login"
        /></a>
        <a href="{{ url_for('checkout') }}"
          ><img
            src="{{ url_for('static', filename='images/icons/cart-white.png') }}"
            class="icon"
            alt="Cart"
        /></a>
        <a href="{{ url_for('home') }}"
          ><img
            src="{{ url_for('static', filename='images/icons/home-white.png') }}"
            class="icon"
            alt="Home"
        /></a>
      </div>
    </header>

    <main class="collections">
      {% for colour, products in grouped_products.items() %} {% if products %}
      <section class="collection">
        <h2>{{ colour }} Collection</h2>
        <div class="gallery-container">
          <div class="gallery">
            {% for product in products %}
            <div class="card">
              <img src="{{ product['image'] }}" alt="Nail Design" />
              <div class="card-footer">
                <button
                  class="buy-btn"
                  onclick="window.location.href='{{ url_for('add_to_cart', pid=product['_id']) }}'"
                >
                  Buy Now for ₹{{ product['price'] }}&nbsp;
                  <span class="cart">🛒</span>
                </button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      {% endif %} {% endfor %}
    </main>
  </body>
</html>
